<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Arcitech Admin Panel</h1>
            <p>Follow the rules in admin panel</p>
            <ul>
                <li>Never Add Member without other members consent</li>
                <li>Never add any event without other members consent</li>
                <li>Be respectful</li>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>