<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <form action="/setEvent" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="topic">Event Topic</label>
                <input type="text" name="topic" class="form-control" placeholder="Enter Topic Name" required="true">
            </div>
            <div class="form-group">
                <label for="image">Upload Image </label>
                <input type="file" name="image" class="form-control" placeholder="Upload event image" required="true">
            </div>
            <div class="form-group">
                <label for="details">Enter Event details</label>
                <textarea name="details" class="form-control" placeholder="Enter event details" required></textarea>

            </div>
            <div class="form-group">
                <label for="eventLink">Enter event link</label>
                <input type="text" name="eventLink" class="form-control" placeholder="Enter link to event">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>