<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <main>
        <form action="/user/signup" method="POST">
            <div class="form-group">
                <label for="pwd">Set Password for your account</label>
                <input type="text" name="email" class="form-control" id="pwd" readonly value="<%= email %>"></input>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
            </div>
            <button type="submit" class="btn btn-primary">Set Password</button>
        </form>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>